@font-face {
  font-family: "Black Ops One";
  src: url("https://fonts.gstatic.com/s/blackopsone/v23/qWcsB6-YPo7xBdrFfQ9G9yEIOLED.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
