.ad-banner {
    margin: 1rem 0;
    text-align: center;
    border: 1px solid blue;
    max-height: 50px;
  
    &__image {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }