.footer {
  position: sticky;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  background-color: var(--tf-gunmetal);
  font-size: 0.75rem;
  color: white;
  z-index: 2500;
  padding: 0.75rem 1rem;
  border-top: 1px solid var(--tf-crimson);

  &__copyright {
    margin: 0;
  }

  &__links,
  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
  }

  &__links a {
    color: inherit;
    text-decoration: none;
    font-size: .75em;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0 1rem;
    min-height: var(--footer-height);
  }
}
