@use "./form";
@use "./stats";

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-main: var(--tf-crimson);
  --primary-text-color: #f0f0f0; // Light text
  --secondary-text-color: var(--border-color) ccc; // Slightly dimmer
  --accent-gray: var(--text-subtle) 888; // Timestamps / metadata
  --background-dark: #1c1c1c; // Main dark background
  --surface-dark: #2a3439; // Card or surface backgrounds
  --crimson: #b22222; // Accent (e.g., votes)
  --crimson-light: #c03a3a;
  --crimson-dark: #921a1a;
  --border-color: #3a3a3a;
  --color-dark-slate: #2f4f4f;
  --lt-grey: #9e9e9e;
  --color-burgundy: #800020;
  --warning-yellow: #ffcc00;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #142027;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --epr-header-padding: 0.25em;

  --header-height: 87px;
  --footer-height: 45px;
  --header-footer-total-height: calc(var(--header-height) + var(--footer-height));
  --content-height: calc(98vh - var(--header-footer-total-height));
}

#root {
  width: 100%;
}

@media screen and (max-width: 768px) {
  html[data-browser="edge"] .header {
    margin-top: 35px;
  }
}

#_rht_toaster {
  max-width: 95vw;
}

.gif-preview {
  width: 100%;
}

body *:not(input):not(textarea):not(select):not([contenteditable="true"]) {
  caret-color: transparent;
}
form * {
  caret-color: auto !important;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #000;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: var(--crimson);
  text-decoration: none;
  &:hover {
    color: var(--crimson-light);
    text-decoration: underline;
  }
}

.content-main {
  min-height: calc(var(--content-height) - 4em);
  margin: 0 auto;
  padding: 2em 0;
  // border: 1px solid blue;
}

.create-post__media-btn,
button {
  width: fit-content;
  background-color: var(--crimson);
  color: #fff;
  border: none;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: background-color 0.3s ease;
}

.basic-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 720px;
  margin: 0 auto 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: var(--surface-dark);
}

button.no-button {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  font-size: 12px;
  text-align: left;
}

.mobile-only {
  display: inline-flex;

  @media (min-width: 768px) {
    display: none !important;
  }
}
