.install-guide {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: var(--surface-dark);
  padding: 0.75rem;
  margin: 0 auto;
  border-radius: 4px;
  
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
  
    section {
      margin-bottom: 2rem;
      background: var(--lt-grey);
      padding: 1rem;
      border-radius: 8px;
      color: #000;
  
      h3 {
        margin-bottom: 0.5rem;
        color: var(--crimson);
      }
  
      ol {
        padding-left: 1.25rem;
  
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  