.ios-install {
    position: fixed;
    bottom: 125px;
    left: 16px;
    right: 16px;
    background: #2a3439;
    color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  
    &__content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  
    button {
      background: #b22222;
      color: white;
      padding: 6px 12px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  
    &__icon {
      font-size: 1.2rem;
    }
  }
  