.nav {
  position: relative;
  z-index: 1000;

  &__toggle {
    position: absolute;
    top: 25px;
    right: 0;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1100;

    .nav__bar {
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 2px;
      transition: all 0.3s ease;
      transform-origin: center;
    }

    &.open {
      .nav__bar:nth-child(1) {
        transform: rotate(45deg) translateY(14px);
      }

      .nav__bar:nth-child(2) {
        opacity: 0;
      }

      .nav__bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-14px);
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: calc(50vw);
    background: #1c1c1c;
    list-style: none;
    margin: 0;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: right 0.3s ease;

    @media (min-width: 768px) {
      width: calc(25vw);
    }
    a,
    span {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .notification-count {
      color: var(--crimson);
    }
  }

  &__badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--crimson);
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 12px;
    line-height: 1;
    z-index: 1200;
  }

  &--open {
    .nav__menu {
      right: 0;
    }
  }
}

.breaker-bar {
  border-bottom: 1px solid var(--lt-grey);
  margin-top: 1em;
}