.privacy {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background: var(--surface-dark);
    padding: 0.75rem;
    margin: 0 auto;
    border-radius: 4px;
}