.tf-footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-tomorrow), sans-serif;
  background: var(--tf-gunmetal);
  padding: 1rem;
  border-top: 1px solid var(--tf-crimson);
  font-size: 0.9rem;
  p {
    margin-bottom: 0;
  }
}

.footer-legal {
  margin-left: auto;
}
