.sidebar {
  width: 220px;
  background: #111;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;

  &__brand {
    padding: 0 1.5rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #b22222;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding: 0.75rem 1.5rem;
    color: #aaa;
    font-size: .95rem;
    text-decoration: none;
    transition: 0.15s;

    &:hover {
      background: #1b1b1b;
      color: #fff;
    }

    &--active {
      background: #b22222;
      color: #fff;
    }
  }
}
