/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!../../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!../../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/styles/sections/install.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tf-install {
  padding: 2rem;
}
.tf-install__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.tf-install__intro {
  opacity: 0.8;
  margin-bottom: 2rem;
}
.tf-install__columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.tf-install__col {
  flex: 1 1 300px;
  background: #262626;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #333;
}
.tf-install__col h2 {
  margin-bottom: 1rem;
}
.tf-install__col ol {
  margin-top: 1rem;
  padding-left: 1.4rem;
}
.tf-install__col ol li {
  margin-bottom: 0.5rem;
}
.tf-install__sub {
  margin-top: 1rem;
  font-weight: 600;
  color: #B22222;
}
.tf-install__badge img {
  width: 180px;
  margin: 1rem 0;
}
.tf-install .ios-image {
  width: 160px;
  opacity: 0.7;
  margin-top: 1rem;
}
.tf-install__soon {
  margin-top: 1rem;
  opacity: 0.6;
}
.tf-install__desktop {
  margin-top: 3rem;
  padding: 2rem;
  background: #262626;
  border-radius: 12px;
  border: 1px solid #333;
}
.tf-install__desktop a {
  color: #B22222;
  font-weight: 600;
}
.tf-install__footer-note {
  margin-top: 2rem;
  opacity: 0.6;
  text-align: center;
}
