@use "./reset.scss";
@use "./variables.scss";
@use "./mixins.scss";
@use "./layout.scss";
@use "./typography.scss";

@font-face {
  font-family: "BlackOpsOne";
  src: url("../fonts/BlackOpsOne/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url("../fonts/Tomorrow/Tomorrow-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Tomorrow";
  src: url("../fonts/Tomorrow/Tomorrow-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Tomorrow";
  src: url("../fonts/Tomorrow/Tomorrow-Bold.ttf") format("truetype");
  font-weight: 700;
}


:root {
  --font-blackopsone: "BlackOpsOne", sans-serif;
  --font-tomorrow: "Tomorrow", sans-serif;
}

html,
body {
  font-family: var(--font-tomorrow), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--tf-background);
  color: var(--tf-text);
}

h1,
h2,
h3 {
  font-family: var(--font-blackopsone), sans-serif;
  font-weight: normal;
}

a {
  font-family: var(--font-tomorrow), sans-serif;
  font-weight: medium;
  text-decoration: none;
  color: var(--tf-steel-blue);
  &:hover {
    color: var(--tf-steel-blue-light);
  }
}
