/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!../../node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!../../node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./styles/tables.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.table {
  width: 100%;
}
.table__actions {
  display: flex;
  justify-content: space-between;
}
.table .btn {
  padding: 3px;
}
.table th {
  text-align: left;
}

.table__row--section-end {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.table__row--section-end td {
  padding-bottom: 12px;
}
